.App{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
  flex-direction: column;
}

.row{
  display: flex;
}

.cell{
  width: 55px;
  height: 55px;
  border: 1px solid rgb(166, 166, 166);
  display: flex;
  justify-content: center;
  align-items:center;
  font-size: 27px;
  cursor: pointer;
  background-color: black;
  
}
.green{
  background-color: rgb(79, 240, 34);
}

.count{
  font-size: 20px;
  margin: 20px;
  text-align: center;
  letter-spacing: 3px;
  line-height: 28px;
}
